In [3]:
import os
import pandas as pd
# from settings import ROOT_PATH

ROOT = os.path.join(os.path.dirname(os.path.dirname(os.path.abspath(""))), "machine-learning\\chp2")
HOUSING_PATH= os.path.join(os.path.join(ROOT,"datasets"), "housing")
DATASET_PATH = os.path.join(HOUSING_PATH, "housing.csv")
print(DATASET_PATH)

with open(DATASET_PATH) as f:
    data = pd.read_csv(f)

x:\E\Documents\Code\Repo\machine-learning\chp2\datasets\housing\housing.csv

In [6]:
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [28]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [47]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

preprocess = Pipeline(
    [
        ("imputer", SimpleImputer(strategy="median")),
        ("std_scaler", StandardScaler())
    ]
)

In [48]:

# handle null values
data_num = data.drop("ocean_proximity", axis=1)
# imputer = SimpleImputer(strategy="median")
# imputer.fit(data_num)
# imputer.statistics_

In [64]:
null = data_num[data_num["total_bedrooms"].isnull()]
null

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,income_cat
290,-122.16,37.77,47.0,1256.0,NaN,570.0,218.0,4.3750,161900.0,3
341,-122.17,37.75,38.0,992.0,NaN,732.0,259.0,1.6196,85100.0,2
538,-122.28,37.78,29.0,5154.0,NaN,3741.0,1273.0,2.5762,173400.0,2
563,-122.24,37.75,45.0,891.0,NaN,384.0,146.0,4.9489,247100.0,4
696,-122.10,37.69,41.0,746.0,NaN,387.0,161.0,3.9063,178400.0,3
...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3620.0,NaN,3171.0,779.0,3.3409,220500.0,3
20268,-119.18,34.19,19.0,2393.0,NaN,1938.0,762.0,1.6953,167400.0,2
20372,-118.88,34.17,15.0,4260.0,NaN,1701.0,669.0,5.1033,410700.0,4
20460,-118.75,34.29,17.0,5512.0,NaN,2734.0,814.0,6.6073,258100.0,5
20484,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,4

In [49]:
# X = imputer.transform(data_num)
X = preprocess.fit_transform(data_num)
handled_data = pd.DataFrame(X, columns=data_num.columns, index=data_num.index)

In [50]:
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit

# I want to estimate median income
# However I need to make sure that the dataset splitting results in representative dataset for both training and testing
# Hence, I need to create a new category income_cat to properly categorise median income into proper stratums
# Doing this is important as without defining my own stratum, the estimate of correlation between median income and other attributes may be biased
handled_data["income_cat"] = pd.cut(data["median_income"], bins=[0., 1.5, 3, 4.5, 6, np.inf], labels=[1, 2, 3, 4, 5])

split = StratifiedShuffleSplit(n_splits=10, test_size=0.2, random_state=42)
for tr_idx, tst_idx in split.split(handled_data, handled_data["income_cat"]):
    strat_tr_s = data.loc[tr_idx]
    strat_tst_s = data.loc[tst_idx]

In [51]:
strat_tst_s["income_cat"].value_counts() / len(strat_tst_s)

income_cat
3    0.350533
2    0.318798
4    0.176357
5    0.114341
1    0.039971
Name: count, dtype: float64

In [52]:
for set_ in (strat_tst_s, strat_tr_s):
    set_.drop("income_cat", axis=1, inplace=True)

In [53]:
strat_tr_s.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16512 entries, 19712 to 9804
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           16512 non-null  float64
 1   latitude            16512 non-null  float64
 2   housing_median_age  16512 non-null  float64
 3   total_rooms         16512 non-null  float64
 4   total_bedrooms      16349 non-null  float64
 5   population          16512 non-null  float64
 6   households          16512 non-null  float64
 7   median_income       16512 non-null  float64
 8   median_house_value  16512 non-null  float64
 9   ocean_proximity     16512 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.4+ MB

In [54]:
strat_tst_s.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4128 entries, 2922 to 4811
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           4128 non-null   float64
 1   latitude            4128 non-null   float64
 2   housing_median_age  4128 non-null   float64
 3   total_rooms         4128 non-null   float64
 4   total_bedrooms      4084 non-null   float64
 5   population          4128 non-null   float64
 6   households          4128 non-null   float64
 7   median_income       4128 non-null   float64
 8   median_house_value  4128 non-null   float64
 9   ocean_proximity     4128 non-null   object
dtypes: float64(9), object(1)
memory usage: 354.8+ KB

In [55]:
# print("Train set null val: ", strat_tr_s.isnull().values.any())
# print("Test set null val: ", strat_tst_s.isnull().values.any())
# type(strat_tr_s)
def check_null(data: pd.DataFrame):
    for col in data.columns:
        if data[col].isnull().any():
            print(f"Category [{col}] contains null values")

check_null(strat_tr_s)

Category [total_bedrooms] contains null values

In [39]:
strat_tr_s["median_income"].isnull().any()

False

In [20]:
# get the median of each category
imputer.statistics_

array([-1.1849e+02,  3.4260e+01,  2.9000e+01,  2.1270e+03,  4.3500e+02,
        1.1660e+03,  4.0900e+02,  3.5348e+00,  1.7970e+05,  3.0000e+00])

In [ ]:
from sklearn.svm import LinearSVR